##################################################################################
## BPC3003_2.03+.ucf
##
## Author: Jack Gassett
##
## Details: http://gadgetforge.gadgetfactory.net/gf/project/butterfly_one/
##
## Contains assignment and iostandard information for
## all used pins as well as timing and area constraints for Papilio One 2.03 and higher boards. Papilio One boards started using 32Mhz oscillators at version 2.02 and above.
##
##################################################################################

# Crystal Clock - use 32MHz onboard oscillator
NET "clk" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns ;

# Wing2 Column C
NET "led<0>" LOC = "P91" ;	
NET "led<1>" LOC = "P92" ;  	
NET "led<2>" LOC = "P94" ;  	
NET "led<3>" LOC = "P95" ;  	
NET "led<4>" LOC = "P98" ;  	
NET "led<5>" LOC = "P2" ;  	
NET "led<6>" LOC = "P3" ;  	
NET "led<7>" LOC = "P4" ;  	
